body {
    color: rgb(232, 128, 128);
    background: rgb(76, 98, 102);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 8px rgb(255, 255, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(82, 155, 177);
}

section {
    background: rgb(80, 155, 163);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    color:black;
}

.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}