body {
    color: rgb(92, 154, 143);
    background: rgb(76, 98, 102);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 8px rgb(255, 255, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(82, 155, 177);
}

.chamada {
    background: rgb(62, 96, 103);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 20px;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

img {
    height: 200px;
}

.categoria-videos {
    display:flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}